.nama-produk {
    color: rgb(117, 77, 48);
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.deskripsi-harga {
    color: rgb(117, 77, 48);
    font-family: 'Arial Narrow';
    font-size: 15px;
}

.tombolkranjang {
    background-color: white;
    border-color: rgb(117, 77, 48);
}

.tombolkranjang:hover {
    background-color: rgb(161, 107, 67);
    border-color: white;
}